<div class="col-md-2" id="left_menu" style="height:100%;background-color:#255292;">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="index.php?page=gestion_user">Utilisateurs</a></li>
        <li><a href="index.php?page=gestion_classe">Classe</a></li>
        <li><a href="index.php?page=gestion_type_groupe">Type de groupe</a></li>
        <li><a href="index.php?page=gestion_groupe">Groupes</a></li>
        <li><a href="index.php?page=gestion_parcours">Parcours</a></li>
    </ul>
</div>